body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat' sans-serif;
}
h1{
  color: #66BFBF;
  font-size: 5rem;
  font-family: 'Montserrat' sans-serif;
  line-height: 2;
}
h2{
color: #66BFBF;
font-weight: normal;
font-size: 2rem;
padding-bottom: 10px; /***create more space between heading 2**/
}
h3{
  color: #11999E;
}



hr{
  border-bottom: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}


.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  margin: 0;
}
.mountain{
  width: 50%;
  }

.middle-container{
  line-height: 2;
  margin: 100px 0;
}
/**********breaks long text into more lines of text****/
.intro{
  width: 30%;
  margin: auto;
}
.contact-text{
  width: 50%;
  margin: 100px auto 60px; /*** margin set to auto is used to set it to the centre***/

}

.t-cloud{
  width: 10%;
  position: absolute;
  right: 200px;
  top: 40px;
}
.b-cloud{
  width: 10%;
  position: absolute;
  left: 150px;
  top: 300px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.code-img{
  width: 40%;
  float: left;
  margin-right: 30px;
/******float keeps the image beside the text****/
}
.chilli-img{
  width: 40%;
  float: right;
  margin-left: 30px;
}
.btn {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat' sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.contact-me{
  margin: 50px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
a{
  color: #11999E;
  font-family: 'Montserrat' sans-serif;
  margin: 10px 20px; /**** create space btw the links***/
  text-decoration: none; /**** removes underline from the links***/
}
a:hover{
  color: #EAF6F6; /****when u move the cursor above it, it changges its color***/
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;

}
/******clear is anti float, keeps the text below the image****/
/*
.hot{
  clear: right;
}
*/
